local7.*                                /var/log/cmd.log
local7.*                                 @@{{server_ip}}:514
*.info;mail.none;authpriv.none;cron.none @@{{server_ip}}:514
auth.*;authpriv.*                        @@{{server_ip}}:514
kern.*                                   @@{{server_ip}}:514
daemon.*                                 @@{{server_ip}}:514

