*.info;mail.none;authpriv.none;cron.none /var/log/messages
kern.*                                   -/var/log/kern.log
auth.*;authpriv.*                        /var/log/auth.log
daemon.*                                 /var/log/daemon.log
cron.*                                   -/var/log/cron.log
mail.*                                   -/var/log/mail.log
uucp,news.*                              /var/log/spooler
*.emerg                                 :omusrmsg:*
local7.*                                /var/log/cmd.log
*.*                                      /var/log/uncategorized.log
