{% extends 'haproxy.base.cfg.j2' %}

{% block globals %}

{% endblock %}

{% block defaults %}
        timeout connect 5000
        timeout client 50000
        timeout server 50000
{% endblock %}

{% block server %}
{% endblock %}


