global
  log /dev/log  local0
  log /dev/log  local1 notice
  stats socket /var/lib/haproxy/stats level admin
  chroot /var/lib/haproxy
  user haproxy
  group haproxy
  daemon
{% block globals %}
{% endblock %}

defaults
  log global
  mode  http
  option  httplog
  option  dontlognull
{% block defaults %}
{% endblock %}


frontend hafrontend
    bind {{ haproxy_listen_address }}:{{ haproxy_listen_port }}
{% if haproxy_ssl_cert is defined %}
    bind {{ haproxy_listen_address }}:{{ haproxy_ssl_port|default('443') }} ssl crt /etc/ssl/haproxy.pem
{% endif %}
    mode http
    default_backend habackend
{% if haproxy_stats|default(True) %}
    stats enable
    stats uri /haproxy?stats
    stats realm HAProxy Statistics
    stats auth admin:admin
{% endif %}
    balance roundrobin
    option httpclose
    option forwardfor

backend habackend
    mode http
    balance roundrobin
    option forwardfor
    option httpchk HEAD / HTTP/1.1\r\nHost:localhost
    cookie SERVERID insert indirect
{% for key,value in haproxy_backends.iteritems() %}
    server {{ key }} {{ value.ip }}:{{ value.port }} check
{% endfor %}
{% for i in haproxy_backends2 %}
    {{ i }}
{% endfor %}
{% block server %}
{% endblock %}
